@import './globals.css';
@import './minireset.css';
@import './tokens.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');
